# This is a sample file to show what variables are needed.
# Do NOT put real passwords or secret database URLs here!
# Copy this file to a new file named .env and fill in your actual details.

MONGO_URI=mongodb://localhost:27017/your_database_name
PORT=3000
